{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
 <!-- .breadcumb-area start -->
 <div class="breadcumb-area bg-img-4 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb-wrap text-center">
                    <h2>Shop </h2>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><span>Shop</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .breadcumb-area end -->

  <!-- product-area start -->
  <div class="product-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-lg-10">
                <div class="product-menu">
                            
                            
                    <ul class="nav">
                        <li>
                            <a {% if categoryId == None %} class="active" {% endif %} href="{% url 'shop' %}">All Product  </a>
                        </li>
                        {% for cat in categories %}
                        <li>
                            <a {% if  categoryId == cat.id %} class="active" {% endif %} href="{% url 'shop' %}?category={{cat.id}}">{{cat.name}}</a>
                        </li>
                        {% endfor %}    
                    </ul>
                
                </div>
            </div>
            
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="all">
                <ul class="row">
                    {% for product in products %}
                    <li class="col-xl-3 col-lg-4 col-sm-6 col-12">
                        <div class="product-wrap">
                            <div class="product-img">
                                <span>Sale</span>
                                <img src="{{product.image.url}}" alt="">
                                
                            </div>
                            <div class="product-content">
                                <h3><a href="{% url 'cart' %}">{{ product.name }}</a></h3>
                               <div>
                                <p class="pull-left product-price" >Rs {{ product.price }}
                                    <del>Rs {{ product.mrp }}</del>
                                </p>
                           
                            <div class="pull-right add-cart-btn"  >
                                <ul>
                                    <li><a data-cart="{{ product.id }}" data-authenticated="{{ request.session.authenticated }}" href="javascript:void(0)">
                                        <i class="fa fa-shopping-bag"></i>
                                        <span> Add to Cart</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                               </div>
                                   
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    
                    
                </ul>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
<!-- product-area end -->
{% endblock %}