{% load static %}
<div class="footer-area">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top-item">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="footer-top-text text-center">
                            <ul>
                                <li><a href="{% url 'home' %}">home</a></li>
                                <li><a href="{% url 'about' %}">about</a></li>
                                <li><a href="{% url 'terms&conditions' %}">terms and conditions</a></li>
                                <li><a href="{% url 'privacy' %}">privacy policy</a></li>
                                <li><a href="{% url 'contact' %}">contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>